<!DOCTYPE html>
<html>
    
    <head>
        <title>Report</title>
         
    <style>
       * {
            font-size: 15px;
        } 
        table {
            table-layout: fixed;
            width: 100%;
            border: 1px solid black;
        }

        table th {
            text-align: center;
            padding: 3px;
            padding-bottom: 0;
        }

        table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 3px;
            padding-bottom: 0;
        }  
        </style>
    </head>

    <body>
        <div style="text-align: center;">
            <!-- <h1 >Disease Perdiction System Using</h1>
            <h1>Naive Bayes Algorithm</h1> --> 

            <p style="font-family: 'Brush Script MT', cursive; font-size:28px; color:black; margin-bottom: 0px; font-weight: bold;">Diesease Prediction System Using</p>
            <p style="font-family: 'Brush Script MT', cursive; font-size:28px; color:black; margin-top: 0px; font-weight: bold;">Naive Bayes Algorithm Report</p>
            <p style="margin-bottom: 30px;;">Report Date: {{datetime}}</p>
        </div>
        <div style="margin-bottom: 10px;">
            <span >
                {% if fromDate and toDate %}       
                    <b>From-Date:</b> {{fromDate}}, 
                    <b>To-Date:</b> {{toDate}}
                {% else %}
                    {% if fromDate %}
                        <b>Date:</b> {{fromDate}}
                    {% elif toDate %}
                        <b>Date:</b> {{toDate}}
                    {% else %}
                        <b>Date:</b> All
                    {% endif %}
                {% endif %}
            
            </span>, 
            <span><b>Total Records:</b> {{record.count}}</span> 
        </div>
        <table style="text-align: center;">
            <thead> 
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Max. Prob. Disease</th>
                    <th>Percentage</th>
                    <th>Date-time</th> 
                    <th>Symptoms</th> 
                </tr>
            </thead>
            <tbody> 
                {%for data in record%}
                <tr>
                    <td style="width: 4%;">{{forloop.counter}}</td>
                    <td style="width: 12%;">{{data.user.username}}</td>
                    <td style="width: 16%;">{{data.max_prob_disease}}</td>
                    <td style="width: 14%;">{{data.percentage}}%</td>
                    <td style="width: 20%;">{{data.date_time}}</td> 
                    <td>{{data.symptoms}}</td> 
                </tr>
                {%endfor%} 
            </tbody>
        </table>
 
    </body>

</html>