<div class="modal-header"> 
    <p style="font-family: 'Brush Script MT', cursive; font-size:26px; display: inline; " >Subscribe  Detail</p>
</div>   
<div class="modal-body"> 
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{subscribe.id}}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{subscribe.name}}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{subscribe.email}}</td>
            </tr> 
        </tbody> 
    </table>
    
</div>
<div class="modal-footer"> 
    <button type="button" onclick="closeModal()" style="cursor:pointer;" class="btn btn-danger " data-bs-dismiss="modal" style="padding-left: 40px; padding-right: 40px;">Close</button>
</div> 