{% extends "base.html" %}

{% block title %}
Disease detail
{% endblock title %}

{% block style %}
<style>
    p { color: black;}
</style>
{% endblock style %}

{% block content %}

<div class="container mb-3" style="margin-top: 110px;">    
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <h2 style="color:black;">Testimonials</h2>
            <hr>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}    
                {% endif %}
                {% if show_testimonial_form %}
                    <a href="{% url 'predict:testimonial_add' %}" id="addTestimonialButton" class="btn btn-secondary">Add Testimonial</a>   
                {% endif %}       

               
            <hr>
                {% for t in testimonials %}
                        <p><b style="color:black; font-size:18px;">{{ t.user.username.capitalize }}</b> on {{ t.created }} <br>
                            Last modified: {{ t.modified }}
                        </p>
                        <p>{{ t.description|linebreaks }}<p>
                        {% if request.user == t.user %} 
                            <div style="display:flex">
                                <a href="{% url 'predict:testimonial_update' pk=t.pk %}" class="btn btn-info">Edit</a>
                                <form method="POST" action="{% url 'predict:testimonial_delete' pk=t.pk %}" class="mx-2"   >
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-danger"  value="delete"> 
                                </form> 
                            </div>
                        {% endif %}
                        <hr>     
                {% endfor %}
        </div>
    </div>
</div>


<div class="modal fade" id="addTestimonialModalId" tabindex="-1">
	<div class="modal-dialog">
	  <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="updateTestimonialModalId" tabindex="-1">
	<div class="modal-dialog">
	  <div class="modal-content"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

function closeModal(){
    $('.modal').modal('hide');
}

$('#addTestimonialButton').on('click', function(e){
    e.preventDefault();
    const href = $(this).attr('href'); 

    $.get(href,function(data){
        // console.log(typeof data, data); 
        $('#addTestimonialModalId .modal-content').empty().append(data);
        $('#addTestimonialModalId').modal('show');  
    });
})

$('body').on('submit', '#testimonialFormId', function(e){
    e.preventDefault();
    const formData = new FormData( this ); 

    $.ajax({
        method: 'POST',
        url:  $(this).attr('action'),
        data: formData,
        processData:false,
        contentType: false,

        success: function(response){
            console.log(response)

        },

        error: function(response){ 
            const data = JSON.parse(response['responseText']);
            errors = data['errors'];
            const arr = ['description',]
            arr.forEach(function(item, index){
                console.log($(`#${item}Error`).length)
                if ( $(`#${item}Error`).length > 0 ){
                    $(`#${item}Error`).remove();
                }
                if(errors[item]){ 
                    $(`[name=${item}]`).parent().append($(`<span style="color:red" id="${item}Error">${errors[item]}</span>`));
            
                }
            })
            
        }

    })
    
})




</script>
{% endblock %}